
@{
    Layout = null;
}

<!DOCTYPE html>
https://github.com/MicrosoftLearning/20486-DevelopingASPNETMVCWebApplications/blob/master/Instructions/20486C/20486C_MOD05_LAK.md
Exercise 4: Adding a Home View and Testing the Views

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>Index</title>*@
    <title>Welcome to Adventure Works Photo Sharing</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
